<header id="top-header">
    <div class="header-inner">
        <div class="siteName">
            <a href="/">CSE Motors</a>
        </div>
        <div class="account">
            <a href="#">My Account</a>
        </div>
    </div>
</header>