<!DOCTYPE html>
<html lang="en">

  <body class="classification-page">

    <main>
      <!-- Page Title -->
      <% if (title) { %>
      <section class="page-title-card">
        <h1><%= title %></h1>
      </section>
      <% } else { %>
      <% res.redirect('/') %>
      <% } %>

      <!-- Classification Grid -->
      <section class="classification-grid">
        <%- grid %>
      </section>
    </main>

  </body>

</html>